<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        I love designing highly scalable, cost effective and powerful systems. I have worked on system-level projects using rust, production-level Web projects using many stacks, and these days I spend time exploiting the power of Machine learning. I'm also a vocalist, multi-instrumentalist, and music producer, having involvements in many music projects. 
        <br><br>
        I'm also probably the youngest (globally) to have completed all 5 AWS certifications (including Solutions architect Pro and Dev-ops engineer pro).
    </p>
</div><!--//summary-->
</section><!--//section-->
