<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Google Summer of Code developer</h3>
                            <div class="time">May 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">XWiki</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I'm working with XWiki to create an importer for Dokuwiki projects to XWiki, ensuring consistency and flexibility. I'll be building upon and improving XWiki's FilterStream framework for this project. </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Nov 2016 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Internet Services Private Limited, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Amazon Internet Services private limited is the Indian entity for Amazon Web Services in India. I've worked with Business development, sales and the solutions architect teams. I've worked with dozens of startups and enterprises to create scalable, cost effective, fault tolerant, and powerful systems. I've also completed all 5 AWS certifications during my internship.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-Founder</h3>
                            <div class="time">Jan 2016 - Nov 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nextgendeals, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>We built an end-to-end platform for selling the 'Next' brand appliances. The startup handled the online business for Next appliances. Apart from the primary business, we focused more on creating interesting technology, most notable one was: A web service that brings apple's continuity features (including calling) to the masses.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research And Development Intern</h3>
                            <div class="time">Dec 2015 - Jan 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">RealBox Data Analytics Private Limited, Delhi NCR</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I worked on creating a Point of Sale (POS) system, using some great javascript libraries, mongoDB, deployed it to a raspberry pi. The goal was to make it end to end, and light enough to support raspberry pi as the central server.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Apr 2015 - Jul 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">IBM, Delhi NCR</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I tested and benchmarked various enterprise applications on variety of platforms. The test ensured validity of various SLAs. </p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
