<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are some of the projects I have the permissions to mention publicly:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Point of Sale system designed for Raspberry Pi</a></span> -
                    <span class="project-tagline">I worked on creating a Point of Sales (POS) system at Realbox focus on restaurants that want to move online. The POS was focused on online orders management and was designed to run a raspberry Pi for reasonable load.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Cross platform device control</a></span> -
                    <span class="project-tagline">We created a system that allowed cross platform functionality of apple's continuity. However the overwhelming segmentation in the bluetooth stacks limited the project.' </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Basic Audio based Ontology Analysis</a></span> - <span class="project-tagline">I completed this project as part of my college's final major project. We used Google's recently released audioset, sonic-annotator for feature extraction, feature ranking and selection and finally Amazon machine learning to accelerate the process.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook">An OS based on Rust</a></span> - <span class="project-tagline">I completed this project as part of the minor project submission for my college's degree. We used rust to write a barebones 64 bit OS. The goal was to investigate the potential exploitation of GPUs (We had to use Tesla series card, since Geforce series cards don't support privileged instructions). There were some very interesting results and many key learnings. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://soundcloud.com/slayerjain">Uproot - Personal music project</a></span> - <span class="project-tagline">I'm primarily a vocalist and guitarist, but i also play almost any stringed instrument, and some piano. I also love mixing and mastering tracks, and I'll be releasing my Debut album 'Genesis' soon. Feel free to check out the demos on my soundcloud channel. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.facebook.com/bassnovaofficial">BassNova</a></span> - <span class="project-tagline">BassNova is an experimental EDM group. We currently have 3000+ followers on facebook. We have released our Debut track <a href="https://soundcloud.com/bassnovaofficial-964312768/rising-sun-teaser">'Rising Sun' Teaser</a> </span>
                </div><!--//item-->

            </section><!--//section-->
